{% set label_dict = h.composite_get_label_dict(field.subfields) %}
{% set choices_dict = h.composite_get_choices_dict(field.subfields) %}
{% set name_list = h.composite_get_name_list(field.subfields) %}
{% set composite_dict_list = h.composite_repeating_get_value_dict_list(field.field_name, field.subfields, data, field.form_blanks, false) %}

<ul>
 {% for composite_dict in composite_dict_list %}
       <li>
	       <b>{{ composite_dict['custom_key'] }}</b>: {{ composite_dict['custom_value'] }}
       </li>
 {% endfor %}
</ul>
