.masthead .site-search input {
  padding: 4px 10px;
  width: 175px;
}

.form-horizontal .help-block {
  margin-left: 130px;
  margin-bottom: 1em;
  margin-top: -15px;
  padding-top: 0;
}
@media (max-width: 767px) {
  .form-horizontal .help-block {
    margin-left: 180px;
  }
}
@media (max-width: 480px) {
  .form-horizontal .help-block {
    margin-left: 0;
  }
}

/* lcrnz repeating */

.control-repeating .checkbox.btn {
  display: inline-block;
  position: relative;
  top: 0;
  left: 5px;
  height: 20px;
  width: 20px;
  padding: 3px 8px;

  -webkit-border-radius: 15px;
          border-radius: 15px;
  line-height: 21px;
}

.control-repeating .checkbox.btn input {
  display: none;
  width: auto;
}

@media (max-width: 767px) {
  .form-horizontal .control-repeating:first-child .controls input {
    width: 87%;
  }
}

/* For the registration page */
.noteBoxes {
	border: 1px solid;
  	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
}

.warningBox {
	border-color: #E76F51;
	background-color: rgba(231, 111, 81, 0.1); 
}

.notePicture
{
	width: 15px; 
	padding-right: 10px;
}

img {
  max-width: 100%;
}