{% ckan_extends %}


{% block package_basic_fields_tags %}
  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
  {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. vegetation, soil carbon, possums'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
{% endblock %}

  {% block package_basic_fields_license %}
  <div class="form-group">
    {% set error = errors.license_id %}
    <label class="control-label" for="field-license">{{ _("License") }}</label>
    <div class="controls">
      <div class="row">
        <div class="col-md-6">
          <select id="field-license" name="license_id" data-module="autocomplete">
            {% set existing_license_id = data.get('license_id') %}
            {% for license_id, license_desc in h.license_options(existing_license_id) %}
            <option value="{{ license_id }}" {% if existing_license_id == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
            {% endfor %}
          </select>
          {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
        </div>
        <div class="col-md-6">
          <span class="info-block info-inline">
            <i class="fa fa-info-circle"></i>
            {% trans %}
            License definitions and additional information can be found
            at <a href="http://creativecommons.org/licences/">Creative Commons</a>
            {% endtrans %}
          </span>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}